body{
    background:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    font-family:Arial;
    padding:20px;
}

.profile-img{
    width:179px;
    height:150px;
    border-radius:100%;
    object-fit:cover;
    border: 40px;px solid #4CAF50;
    margin-bottom:15px;
}

.profile-card{
    background:white;
    width:100%;
    max-width:350px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    text-align:center;
}

form input{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    background:#4CAF50;
    color:white;
    border:none;
    padding:10px;
    width:100%;
    border-radius:20px;
    cursor:pointer;
}

button:hover{
    background:#45a049;
}

/* Responsive */
@media (min-width:768px){
    .profile-card{
        max-width:420px;
    }
}
